@charset "UTF-8";
body {
  margin: 0;
  background: #f0f0f0; }

button {
  cursor: pointer; }
  button:focus, button:active {
    outline: 0; }

.standalone {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

* {
  font-family: 'Roboto', sans-serif; }

.hide-text {
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0); }

.blink-blink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  animation: blink-in .1s ease-in-out forwards; }
  .blink-blink.blink-remove {
    animation: blink-out .3s ease-in-out forwards; }

@keyframes blink-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes blink-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.blink-big-blink {
  position: absolute;
  margin: auto;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  animation: blink-big .65s ease-out forwards; }

@keyframes blink-big {
  0% {
    transform: scale(0);
    opacity: 1; }
  100% {
    transform: scale(2.5);
    opacity: 0; } }

.blink, .blink-big {
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent; }
  .blink.blink-white .blink-blink, .blink-big.blink-white .blink-blink {
    background: rgba(255, 255, 255, 0.2); }
  .blink.blink-white .blink-big-blink, .blink-big.blink-white .blink-big-blink {
    background: rgba(255, 255, 255, 0.4); }
  .blink.blink-black .blink-blink, .blink-big.blink-black .blink-blink {
    background: rgba(0, 0, 0, 0.2); }
  .blink.blink-black .blink-big-blink, .blink-big.blink-black .blink-big-blink {
    background: rgba(0, 0, 0, 0.2); }

button {
  font-family: 'Roboto', sans-serif; }

button.raised {
  height: 36px;
  margin-top: 10px;
  padding: 0 16px;
  border: 0;
  border-radius: 2px;
  background: #2196f3;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }

button.flat {
  min-width: 88px;
  height: 36px;
  padding: 0 8px;
  transition: background .1s ease-in-out;
  border: 0;
  border-radius: 2px;
  outline: 0;
  background: none;
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  button.flat:active {
    background: rgba(0, 0, 0, 0.15); }
  button.flat:focus {
    background: rgba(0, 0, 0, 0.1); }

header nav button {
  width: 48px;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
  border: 0;
  background: none;
  color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

#app > div > main {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 56px;
  padding-right: 8px;
  padding-left: 8px; }
  #app > div > main.standalone-main {
    padding-top: 76px; }
  #app > div > main section {
    margin: 16px 0;
    padding: 24px;
    padding-bottom: 8px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }
    #app > div > main section p {
      margin: 8px 0; }
    #app > div > main section blockquote {
      margin: 0;
      padding: 0; }
      #app > div > main section blockquote main {
        padding: 8px 16px;
        border-left: 10px solid #ddd;
        font-style: italic; }
      #app > div > main section blockquote footer {
        margin-top: 8px;
        margin-right: 16px;
        color: #777;
        text-align: right; }
        #app > div > main section blockquote footer::before {
          content: '– '; }
      #app > div > main section blockquote div.hidden aside {
        display: none; }
      #app > div > main section blockquote div.hidden nav .expand i::before {
        content: 'expand_more'; }
    #app > div > main section nav {
      position: relative;
      height: 40px;
      margin-top: 24px;
      border-top: 1px solid #ccc;
      cursor: pointer;
      -webkit-user-select: none; }
      #app > div > main section nav .expand-text {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        background: none;
        font-size: 14px;
        line-height: 40px;
        text-transform: uppercase; }
      #app > div > main section nav .expand {
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 5px;
        border: 0;
        background: none;
        box-sizing: border-box; }
        #app > div > main section nav .expand i {
          font-size: 30px; }
          #app > div > main section nav .expand i::before {
            content: 'expand_less'; }
    #app > div > main section aside {
      display: block;
      font-size: 14px; }
      #app > div > main section aside div {
        margin: 8px 0; }
      #app > div > main section aside .more p {
        margin-top: 0; }
        #app > div > main section aside .more p.header {
          margin-bottom: 4px;
          color: rgba(0, 0, 0, 0.54); }

.dialog {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease-in-out, visibility 0s .2s ease-in-out;
  background: rgba(0, 0, 0, 0.33);
  opacity: 0;
  visibility: hidden; }
  .dialog.visible {
    opacity: 1;
    visibility: visible; }
  .dialog .dialog-box {
    width: 90%;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }
    .dialog .dialog-box .dialog-main {
      padding: 24px; }
      .dialog .dialog-box .dialog-main h2 {
        margin: 0 0 8px; }
      .dialog .dialog-box .dialog-main p {
        margin: 0;
        margin-bottom: 4px;
        color: #757575;
        line-height: 24px; }
        .dialog .dialog-box .dialog-main p ol {
          margin: 0;
          padding: 0; }
        .dialog .dialog-box .dialog-main p img.apple-icon {
          height: 24px;
          transform: translateY(4px); }
        .dialog .dialog-box .dialog-main p i.material-icons {
          transform: translateY(6px); }
    .dialog .dialog-box .dialog-btns {
      padding: 0 8px 8px;
      text-align: right; }

.fab-main {
  display: block;
  position: fixed;
  right: 16px;
  bottom: 40px;
  width: 56px;
  height: 56px;
  margin: 0;
  padding: 0;
  transition: margin .3s ease-in-out;
  border: 0;
  border-radius: 50%;
  outline: 0;
  background: #2196f3;
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  animation: in-btn .4s ease-in-out; }
  .fab-main.fab-snackbar {
    margin-bottom: 48px; }
    @media (min-width: 600px) {
      .fab-main.fab-snackbar {
        margin-bottom: 0; } }
  .fab-main > i {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    transform: rotate(0deg) scale(1);
    transform-origin: center center;
    transition: transform .2s ease-in-out; }
    .fab-main > i:first-child {
      animation: in-i .4s ease-in-out; }
    .fab-main > i:nth-child(2) {
      transform: rotate(-45deg) scale(0); }
  .fab-main.clicked > i:first-child {
    transform: rotate(45deg) scale(0); }
  .fab-main.clicked > i:nth-child(2) {
    transform: rotate(0deg) scale(1); }
  .fab-main.clicked::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    content: '';
    animation: btn-ripple .55s ease-in-out forwards; }
  .fab-main.clicked .submenu {
    transition: visibility 0s 0s;
    visibility: visible; }
    .fab-main.clicked .submenu .fab-mini {
      transform: scale(1);
      opacity: 1; }
      .fab-main.clicked .submenu .fab-mini:nth-child(1) {
        transition-delay: .2s; }
      .fab-main.clicked .submenu .fab-mini:nth-child(2) {
        transition-delay: 0s; }
  .fab-main .submenu {
    display: flex;
    position: absolute;
    top: 0;
    flex-wrap: wrap;
    justify-content: center;
    width: 56px;
    transform: translateY(-100%);
    transition: visibility 0s 0.4s;
    visibility: hidden; }
    .fab-main .submenu .fab-mini {
      width: 40px;
      height: 40px;
      margin-bottom: 16px;
      padding: 0;
      transform: scale(0);
      transition: opacity .2s ease-in-out, transform .2s ease-in-out;
      border: 0;
      border-radius: 50%;
      background: #d1d3d4;
      text-decoration: none;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
      opacity: 0; }
      .fab-main .submenu .fab-mini span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%; }
      .fab-main .submenu .fab-mini i {
        flex: 0;
        color: #616161; }
      .fab-main .submenu .fab-mini:nth-child(2) {
        transition-delay: .2s; }

.fab-main.clicked::before, .fab-mini:focus::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  content: '';
  animation: btn-ripple .55s ease-in-out forwards; }

.fab-mini:focus::before {
  background: rgba(0, 0, 0, 0.1); }

@keyframes in-i {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes in-btn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes btn-ripple {
  0% {
    transform: scale(0);
    opacity: 0; }
  66% {
    transform: scale(1);
    opacity: 1; }
  100% {
    opacity: 0; } }

header.app-bar {
  width: 100%;
  padding: 0;
  background: #2196f3;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 1;
  box-sizing: border-box; }
  header.app-bar.fixed {
    position: fixed;
    top: 1px;
    left: 0;
    margin-top: -1px; }
  header.app-bar .status-bar {
    display: none;
    width: 100%;
    height: 20px;
    background: #1976d2; }
  header.app-bar nav {
    position: relative;
    width: 100%;
    height: 56px; }
    header.app-bar nav > div {
      position: absolute;
      height: 100%; }
    header.app-bar nav .left {
      left: 32px; }
    header.app-bar nav .right {
      right: 32px; }
    header.app-bar nav .icons.left {
      left: 12px; }
    header.app-bar nav .icons.right {
      right: 12px; }
    header.app-bar nav .icons i {
      vertical-align: middle; }
    header.app-bar nav .icons span {
      margin-left: 12px; }
    header.app-bar nav .title {
      display: none; }
      @media (min-width: 320px) {
        header.app-bar nav .title {
          display: block; } }
    header.app-bar nav span {
      line-height: 56px; }

.form-group {
  position: relative;
  width: 100%;
  margin-top: 34px;
  float: left;
  clear: left; }
  .form-group .border {
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
    background: #2196f3; }
  .form-group textarea ~ .border {
    bottom: 0; }
  .form-group input:not([type='radio']), .form-group textarea, .form-group .select-group button {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 7px 0;
    transition: height .2s ease-in-out;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
    outline: 0;
    background: transparent;
    font-size: 16px;
    line-height: 1.42857143;
    -webkit-appearance: none;
    resize: none; }
    .form-group input:not([type='radio']).touched.invalid ~ .border, .form-group textarea.touched.invalid ~ .border, .form-group .select-group button.touched.invalid ~ .border {
      background: #f44336; }
    .form-group input:not([type='radio']).touched.invalid ~ label, .form-group input:not([type='radio']).touched.invalid ~ label::after, .form-group textarea.touched.invalid ~ label, .form-group textarea.touched.invalid ~ label::after, .form-group .select-group button.touched.invalid ~ label, .form-group .select-group button.touched.invalid ~ label::after {
      color: #f44336; }
    .form-group input:not([type='radio']):focus ~ label, .form-group textarea:focus ~ label, .form-group .select-group button:focus ~ label {
      color: #2196f3; }
    .form-group input:not([type='radio']):focus ~ .border, .form-group textarea:focus ~ .border, .form-group .select-group button:focus ~ .border {
      width: 100%; }
    .form-group input:not([type='radio']).dirty ~ label, .form-group textarea.dirty ~ label, .form-group .select-group button.dirty ~ label {
      color: #bdbdbd; }
    .form-group input:not([type='radio']).dirty:focus ~ label, .form-group textarea.dirty:focus ~ label, .form-group .select-group button.dirty:focus ~ label {
      color: #2196f3; }
    .form-group input:not([type='radio'])[required] ~ label::after, .form-group textarea[required] ~ label::after, .form-group .select-group button[required] ~ label::after {
      transition: color .3s ease-in-out;
      color: #bdbdbd;
      content: ' *'; }
    .form-group input:not([type='radio'])[required]:focus ~ label::after, .form-group textarea[required]:focus ~ label::after, .form-group .select-group button[required]:focus ~ label::after {
      color: #f44336;
      content: ' *'; }
  .form-group > label {
    position: absolute;
    top: -22px;
    left: 0;
    padding: 7px 0;
    transform: scale(0.75);
    transform-origin: top left;
    transition: transform .3s ease-in-out, top .3s ease-in-out, color .3s ease-in-out;
    color: #bdbdbd;
    font-size: 16px;
    line-height: 1.42857143;
    cursor: text; }

.select-group input[type='radio'] {
  display: none; }

.select-group .select-container {
  position: relative; }
  .select-group .select-container button {
    text-align: left; }
    .select-group .select-container button i.material-icons {
      display: inline-block;
      float: right;
      font-size: 20px;
      line-height: 20px; }
  .select-group .select-container.open .select-options-container {
    transition: visibility 0s 0s ease-in-out;
    visibility: visible; }
    .select-group .select-container.open .select-options-container .select-options {
      top: 0;
      opacity: 1; }

.select-group .select-options-container {
  position: absolute;
  top: 0;
  right: -3px;
  left: -3px;
  height: 150px;
  transition: visibility 0s .2s ease-in-out;
  overflow: auto;
  visibility: hidden;
  z-index: 2; }
  .select-group .select-options-container .select-options {
    position: absolute;
    top: -100%;
    right: 3px;
    left: 3px;
    transition: top .2s ease-in-out, opacity .2s ease-in-out;
    border-radius: 2px;
    background: #fff;
    line-height: 37px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    opacity: 0; }
    .select-group .select-options-container .select-options label {
      display: block;
      padding: 0 8px;
      cursor: pointer; }
      .select-group .select-options-container .select-options label:hover, .select-group .select-options-container .select-options label.current {
        background: rgba(0, 0, 0, 0.1); }

.settings-pane {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top .5s ease-in-out, visibility 0s .5s;
  background: #f0f0f0;
  visibility: hidden;
  z-index: 2; }
  .settings-pane.shown {
    top: 0;
    transition: top .5s ease-in-out, visibility 0s 0s;
    visibility: visible; }
  .settings-pane main {
    max-width: 600px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px; }
    @media (min-width: 600px) {
      .settings-pane main {
        padding-right: 8px;
        padding-left: 8px; } }

body.settings-shown {
  overflow-y: scroll; }
  body.settings-shown #app {
    height: 100vh;
    overflow: hidden; }

.snackbar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 8px 24px;
  transform: translateY(100%);
  transition: transform .3s ease-in-out, left .3s ease-in-out, visibility 0s .3s ease-in-out;
  background: #323232;
  color: #fff;
  font-size: 14px;
  line-height: 32px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  visibility: hidden; }
  .snackbar.visible {
    transform: translateY(0);
    transition: transform .3s ease-in-out, left .3s ease-in-out, visibility .3s 0s ease-in-out;
    visibility: visible; }
  @media (min-width: 600px) {
    .snackbar {
      right: auto;
      bottom: 24px;
      left: 0;
      min-width: 288px;
      max-width: 568px;
      transform: translateX(-100%);
      border-radius: 2px; }
      .snackbar.visible {
        left: 24px;
        transform: translateX(0); } }

ul.tabs {
  display: flex;
  margin: 0;
  padding: 0; }
  @media (min-width: 600px) {
    ul.tabs {
      margin-left: 72px; } }
  @media (min-width: 600px) {
    ul.tabs {
      display: block; } }
  ul.tabs li {
    display: inline-block;
    flex: 1;
    min-width: 72px;
    height: 48px;
    margin: 0;
    padding: 0;
    transition: border-bottom-color .2s ease-in-out;
    border-bottom: 2px solid transparent;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: border-box; }
    @media (min-width: 600px) {
      ul.tabs li {
        min-width: auto; } }
    ul.tabs li.selected, ul.tabs li:hover {
      border-bottom-color: #fff; }
    ul.tabs li button {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 12px;
      border: 0;
      outline: 0;
      background: none;
      color: inherit;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none; }

html.standalone {
  height: 100%; }
  html.standalone body {
    position: relative;
    height: 100%;
    min-height: 100%;
    padding: 0;
    overflow: hidden; }
  html.standalone header.app-bar .status-bar {
    display: block; }

main.standalone-main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; }
  main.standalone-main::-webkit-scrollbar {
    display: none; }

/*# sourceMappingURL=style.css.map */
