doctype html
head
  meta(charset="utf-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Cytaty nauczycieli &alpha;
  //- link(rel="stylesheet", href="./css/normalize.min.css")
  link(rel='stylesheet', href='./css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
  link(rel="stylesheet", href="./css/style.min.css")

body
  nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar


        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='.') Pokaż wszystkie cytaty

            li
              a(href='add_cite.html') Dodaj cytat

            li
              a(href='add_teacher.html') Dodaj nauczyciela

  main.container
    h2
      | Nowe cytaty
      button.pull-right.btn.btn-sm.btn-danger
        span.hidden-xs Odrzuć wszystkie
        span(aria-hidden="true").glyphicon.glyphicon-remove.visible-xs-inline-block

      button.pull-right.btn.btn-sm.btn-success
        span.hidden-xs Przyjmij wszystkie
        span(aria-hidden="true").glyphicon.glyphicon-ok.visible-xs-inline-block

    .new-quotes
      blockquote.inactive
        span(contenteditable="true", data-start="test1") test1
        footer asd

        .controls.btn-group
          button.btn.btn-xs.btn-success: span(aria-hidden="true").glyphicon.glyphicon-ok
          button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

      blockquote.inactive
        span(contenteditable="true", data-start="test2") test2
        footer asd

        .controls.btn-group
          button.btn.btn-xs.btn-success: span(aria-hidden="true").glyphicon.glyphicon-ok
          button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

      blockquote.inactive
        span(contenteditable="true", data-start="test3") test3
        footer asd

        .controls.btn-group
          button.btn.btn-xs.btn-success: span(aria-hidden="true").glyphicon.glyphicon-ok
          button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove


    h2 Nowi nauczyciele

    .new-teachers
      blockquote
        span(contenteditable="true", data-start="Tadeusz Barciński") Tadeusz Barciński

        .controls.btn-group
          button.btn.btn-xs.btn-warning: span(aria-hidden="true").glyphicon.glyphicon-pencil
          button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

      blockquote
        span(contenteditable="true", data-start="Justyna Pełka") Justyna Pełka

        .controls.btn-group
          button.btn.btn-xs.btn-warning: span(aria-hidden="true").glyphicon.glyphicon-pencil
          button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

    br
    h2 Wszystkie rekordy

    .all
      ul.nav.nav-pills(role='tablist')
        li.active(role='presentation')
          a(href='#quotes', aria-controls='quotes', role='tab', data-toggle='tab') Cytaty

        li(role='presentation')
          a(href='#teachers', aria-controls='teachers', role='tab', data-toggle='tab') Nauczyciele

      .tab-content
        #quotes.tab-pane.active(role='tabpanel')
          blockquote.inactive
            span(contenteditable="true", data-start="test1") test1
            footer asd

            .controls.btn-group
              button.btn.btn-xs.btn-success: span(aria-hidden="true").glyphicon.glyphicon-ok
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

          blockquote.inactive
            span(contenteditable="true", data-start="test2") test2
            footer asd

            .controls.btn-group
              button.btn.btn-xs.btn-success: span(aria-hidden="true").glyphicon.glyphicon-ok
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

          blockquote.inactive
            span(contenteditable="true", data-start="test3") test3
            footer asd

            .controls.btn-group
              button.btn.btn-xs.btn-success: span(aria-hidden="true").glyphicon.glyphicon-ok
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

          blockquote
            span(contenteditable="true", data-start="test4") test4
            footer asd

            .controls.btn-group
              button.btn.btn-xs.btn-warning: span(aria-hidden="true").glyphicon.glyphicon-pencil
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

          blockquote
            span(contenteditable="true", data-start="test5") test5
            footer asd

            .controls.btn-group
              button.btn.btn-xs.btn-warning: span(aria-hidden="true").glyphicon.glyphicon-pencil
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

          blockquote
            span(contenteditable="true", data-start="test6") test6
            footer asd

            .controls.btn-group
              button.btn.btn-xs.btn-warning: span(aria-hidden="true").glyphicon.glyphicon-pencil
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

        #teachers.tab-pane(role='tabpanel')
          blockquote
            span(contenteditable="true", data-start="Tadeusz Barciński") Tadeusz Barciński

            .controls.btn-group
              button.btn.btn-xs.btn-warning: span(aria-hidden="true").glyphicon.glyphicon-pencil
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove

          blockquote
            span(contenteditable="true", data-start="Justyna Pełka") Justyna Pełka

            .controls.btn-group
              button.btn.btn-xs.btn-warning: span(aria-hidden="true").glyphicon.glyphicon-pencil
              button.btn.btn-xs.btn-danger: span(aria-hidden="true").glyphicon.glyphicon-remove



  script(type="text/javascript", src="https://code.jquery.com/jquery-3.1.1.min.js")
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
  script(src="./dist/js/admin.min.js", charset="utf-8")
