button
  font-family: 'Roboto', sans-serif

button.raised
  height: 36px
  margin-top: 10px
  padding: 0 16px
  border: 0
  border-radius: 2px
  background: $main-color
  color: $button-raised-text
  font-size: 14px
  text-transform: uppercase
  box-shadow: $button-raised-box-shadow

button.flat
  min-width: 88px
  height: 36px
  padding: 0 8px
  transition: background .1s ease-in-out
  border: 0
  border-radius: 2px
  outline: 0
  background: none
  color: $main-color
  font-size: 14px
  font-weight: 500
  text-transform: uppercase
  cursor: pointer
  appearance: none

  &:active
    background: $button-flat-active

  &:focus
    background: $button-flat-focus

header nav
  button
    width: 48px
    height: 100%
    margin: 0
    padding: 0
    float: left
    border: 0
    background: none
    color: $header-button-text
    cursor: pointer
    -webkit-tap-highlight-color: transparent
